<%- include('header', {pagetitle: 'Jedi edit'}) -%>
<div class="container">
	<div class="row">
		<div class="col">
			<a href="/" class="button">
				<img src="/images/accept_icon.png" style="padding: 5px">
			</a>
		</div>
		<div class="col-10">
			<h1 style="text-align: center;">Jedik szerkesztése</h1>
		</div>
		<div class="col">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Név</th>
					<th>Rang</th>
					<th>Midi-chlorian szám</th>
					<th>Alátartozó légió vezetője</th>
				</tr>

				<% for (key in jedi) { var one_jedi = jedi[key]; %>
					<tr>
						<td> <%= one_jedi.name %>  </td>
						<td> <%= one_jedi.rang %>  </td>
						<td> <%= one_jedi.midi %>  </td>
						<td> <%= one_jedi.clone %>  </td>
						<td> 
							<a href="/jedi/edit/<%= one_jedi._id %> "><img src="/images/edit_icon_small.png"></a>
							<a href="/jedi/del/<%= one_jedi._id %> "><img src="/images/delete_icon.png"></a> 
						</td>
					</tr>
				<% } %> 
				<tr>
					<td colspan="4" style="text-align: center"><a href="/jedi/new"><img src="/images/add_icon.png"></a></td>
				</tr>
			</table>
		</div>	
	</div>
</div>
</form>
<%- include('footer') -%>